body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart {
  background: url('./cart.png') no-repeat center/cover;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.home-btn,
.home-btn:hover {
  color: #fff;
  text-decoration: none;
}
